@tailwind base;
@tailwind components;
@tailwind utilities;

.container-xl {
  width: 100%;
  padding: 0px 60px;
}

@media (min-width: 1024px) {
  .container-xl {
    width: 100%;
    padding: 0px 100px;
  }
}

@media (min-width: 1440px) {
  .container-xl {
    width: 100%;
    padding: 0px 120px;
  }
}

.navbar {
  display: flex;
  height: 92px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(233, 244, 250, 0.5);
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
}
