@tailwind base;
@tailwind components;
@tailwind utilities;

.container-xl {
  width: 100%;
  padding: 0px 60px;
}

@media (min-width: 1024px) {
  .container-xl {
    width: 100%;
    padding: 0px 100px;
  }
}

@media (min-width: 1440px) {
  .container-xl {
    width: 100%;
    padding: 0px 120px;
  }
}

.navbar {
  display: flex;
  height: 92px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(233, 244, 250, 0.5);
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
}

@keyframes scrollleft {
  to {
    transform: translateX(-120%);
  }
}

@keyframes scrollForever {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item {
  position: absolute;
  width: 100%;
  left: 100%;
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 3 * 2 * -1);
}

.item2 {
  animation-delay: calc(30s / 3 * 1 * -1);
}

.item3 {
  animation-delay: 0s;
}

.itemUpdate {
  white-space: nowrap;
  display: inline-block;
  animation: scrollForever 30s linear infinite;
}
